# Copy this to terraform.tfvars and fill in your values

project_id   = "gcp-k8s-hrgf"
region       = "us-central1"
zone         = "us-central1-a"
cluster_name = "hello-gke"
app_name     = "hello-app"
node_count   = 2
machine_type = "e2-medium"
